@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh; 
    background-image: url("images/Avengers-Infinity-War-Concept-Art-Chris-Kesler-5.jpg");
    background-size: cover;
    background-position: center;
    }

body::-webkit-scrollbar{
    display: none;
}

.top_nav{
    background-color: rgb(28, 25, 39);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(82, 81, 87, 0.5);
}

.top_nav img {
    width: 40px;
    margin: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.nav_links{
    width: 35%;
}

.nav_links ul{
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.nav_links ul li a{
    text-decoration: none;
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: 13px;
}

.top_nav i{
    font-size: 30px;
    margin: 20px;
    color: #e5e5e5;
}

main{
    height: 92.5vh;
}

.main_container{
    display: flex;
    height: 100%;
    max-width: 100%;
    position: relative;
}

.left_nav{
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 25, 39);
    border-right: 2px solid rgba(82, 81, 87, 0.5);
}

.left_nav ul {
    list-style: none;
    margin-top: 20px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_nav ul i{
    font-size: 15px;
    color: white;
}

.main_content{
    width: 100%;
}

.right_nav{
    width: 70px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-left: 2px solid rgba(82, 81, 87, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
}

.right_nav_links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right_nav_links ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.right_nav_links ul li{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}



.right_nav_links ul li a {
    writing-mode: vertical-lr;
    text-decoration: none;
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: ;
}

.main_content{
    display: flex;
}

.carrousel_container{
    width: 25%;
    min-width: 300px;
    height: 100%;   
}

.carrousel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carr_element{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carr_element p{
    position: absolute;
    bottom: 12px;
    left: 17px;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 24px;
    font-weight: 500;
}

.carr_element p span{
    font-weight: 300;
}

.carr_element img{
    width: 100%;
    
}

.carrousel .carr_element:nth-child(1){
    background-image: url("images/images_carrousel/aea4895ca7062aa2ad10a479030d9688.png");
    background-size: cover;
    background-position: center;
}

.carrousel .carr_element:nth-child(2){
    background-image: url("images/images_carrousel/4744.webp");
    background-size: cover;
    background-position: center;
}

.carrousel .carr_element:nth-child(3){
    background-image: url("images/images_carrousel/doctor-strange-marvel.jpg");
    background-size: cover;
    background-position: center;
}

.carrousel .carr_element:nth-child(4){
    background-image: url("images/images_carrousel/xFEK1c.webp");
    background-size: cover;
    background-position: center;
}

.carrousel .carr_element:nth-child(5){
    background-image: url("images/images_carrousel/crrs-thanos.jpg");
    background-size: cover;
    background-position: center;
}


.bar{
    position: absolute;
    width: 10px;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 3px;
}

.decoration{
    width: 100%;
    height: 100%;
}

.bar_purple{
    background-color: rgb(127, 0, 255);
}

.bar_yellow{
    background-color: rgb(253, 218, 13);
}

.bar_blue{
    background-color: rgb(0, 71, 171);
}

.bar_red{
    background-color: rgb(165, 42, 42);
}

.purple_carr{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(127, 0, 255, 0.5),  rgba(0, 0, 0, 0));
}

.green_carr{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(15, 255, 80, 0.5),  rgba(0, 0, 0, 0));
}

.yellow_carr{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(253, 218, 13, 0.5),  rgba(0, 0, 0, 0));
}

.red_carr{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(165, 42, 42, 0.6),  rgba(0, 0, 0, 0));
}

.blue_carr{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 71, 171, 0.5),  rgba(0, 0, 0, 0));
}

.hide{
    display: none;
}

.content{
    width: 100%;
    background-color: rgba(31, 16, 65, 0.9);
    display: flex;
    justify-content: space-between;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e5e5;
    margin-left: 80px;
}

.description h1{
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.description h1::after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: rgba(90, 89, 89, 0.8);
}

.description p{
    font-weight: 300;
}

.description h1::after{
    content: "";

}

.heroe_img img{
    display: block;
    height: 100%;
    transform: scaleX(-1);
}